html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Dosis', sans-serif;
	line-height: 1.6;
	letter-spacing: 1px;
	color: #000;
	background: #F6F6F6;
}

body {
	padding: 10px 0px 0px 500px;
}

form {
    display: inline-block; /*keeps forms in same line*/
}
