<!doctype html>
<html>
<head>
	<title>Carpark App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
   <body>
   	<h1>carpark.py</h1>
      <form action = "http://localhost:5000/address" method = "POST">
         <p>Enter your address: <input type = "text" name = "address" required></p>
         <p><input type = "submit" value = "Submit"></p>
      </form>

      <div>
        <form action = "http://localhost:5000/lotfinder" method = "GET">
           <p>If you already know your carpark number, <input type = "submit" value = "skip"> this step </p>
           <p></p>
        </form>
      </div>
   </body>
</html>