<!doctype html>
<html>
<head>
	<title>Carpark App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
   <body>
   	<h1>carpark.py</h1>
      <form action = "/carpark" method = "POST">
         <p>Carpark No: <input type = "text" id="carpark-input" name = "Carpark" required></p>
         <p><input type = "submit" value = "submit"></p>
      </form>
   </body>
  <script>

  const carparkInput = document.getElementById("carpark-input");
  // use new URLSearchParams API instead of ugly regex querystring parsing
  window.onload = function() {
    var urlParams = new URLSearchParams(window.location.search);
    carparkInput.value = urlParams.get('address');
  }
    
</script>
</html>