<!doctype html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<title>Carpark App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
   <body>
   	<h1>carpark.py</h1>
      <form action = "/address" method = "POST">
         <p>Enter your address: <input type = "text" name = "address" id="address-input" required></p>
         <br>
         <p>Note: Beta Version - API Coverage is limited (e.g <strong>"Pasir Ris" </strong> works but <strong>"Orchard" </strong>and other CBD Areas/Private/Landed estates might not work. Postal codes and numeric inputs like <strong>"650122"</strong> are not valid inputs as well.)</p>
         <p><input onclick="store()" type = "submit" value = "Submit"></p>
      </form>

      <div>
        <form action = "/lotfinder" method = "GET">
           <p>If you already know your carpark number, <input type = "submit" value = "skip"> this step </p>
        </form>
      </div>
   </body>
  <script  type="text/javascript">

  const addressInput = document.getElementById("address-input");

    function store(){
      localStorage.setItem("addressStorage", addressInput.value);
      console.log("STORING LOCALSTORAGE");
    }

    // on refresh, populate input form
    window.onload = function() {
      addressInput.value = localStorage.getItem("addressStorage");
      console.log("LOADED FROM LOCALSTORAGE");
    }

  </script>
</html>