<!doctype html>
<html>
<head>
	<title>Carpark App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
   <body>
   	<h1>carpark.py</h1>
      <form action = "/address" method = "POST">
         <p>Enter your address: <input type = "text" name = "address" id="address-input" required></p>
         <br>
         <p>Note: Currently only accepts one word(e.g <strong>Clementi </strong> works but <strong>"Bukit Timah" </strong>and other CBD Areas might not work as the API does not cover them.)</p>
         <p><input onclick="store()" type = "submit" value = "Submit"></p>
      </form>

      <div>
        <form action = "/lotfinder" method = "GET">
           <p>If you already know your carpark number, <input type = "submit" value = "skip"> this step </p>
        </form>
      </div>
   </body>
  <script  type="text/javascript">
    function store(){
      var addressInput= document.getElementById("address-input");
      localStorage.setItem("addressStorage", addressInput.value);
      console.log("STORING LOCALSTORAGE");
    }

    // on refresh, populate input form
    window.onload = function() {
      var addressInput = document.getElementById("address-input");
      addressInput.value = localStorage.getItem("addressStorage");
    }
  </script>
</html>